* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins";
}

body {
  background-color: #080710;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bold {
  display: inline-block;
  color: red;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.button {
  margin-top: 50px;
  background-color: #ffffff;
  color: #080710;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.logout:hover {
  opacity: 0.7;
}

.logout {
  background-color: rgb(255, 33, 33);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -30px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

.shape {
  animation: rotate 1s linear infinite;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
